<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Item</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            This is a simple home page layout using Ionic components.
          </ion-card-content>
          <ion-button color="primary" routerLink="/tabs/item">
            Go to Details 
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
